body {
    font-family: 'Rubik', sans-serif;
}

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}


.thumbnail {
    max-width:250px;
}

.summary {
    margin-bottom: 145px;
}
.image {
    max-width: 250px;
}

h3 {
    font-family: 'Acme', sans-serif;
    color:#fe7900;
}


@media screen and (max-width: 600px) {
    
}

a {
    color:black;
}